body{
    font: 14px Arial, sans-serif;
}


.navbar  {
    background: rgb(36, 153, 137) !important;
  
}



#parceiros{
    background-color: rgb(7, 125, 161) !important;
}

.bg-footer{
    background:black;
    padding-bottom: 5px;
    padding-top:14px;
    color:white;
}